@font-face{
    font-family: 'orbitron-regular';
    src: url(Orbitron-Regular.ttf);
}

@font-face{
    font-family: 'orbitron-bold';
    src: url(Orbitron-Bold.ttf);
}
@font-face{
    font-family: 'roboto-regular';
    src: url(Roboto-Regular.ttf);
}